
<!-- Seu componente pai -->

<section class="container">
  <h2 class="text-center display-3">Histórico de Transações</h2>
  <hr>
  <div class="container-fluid row">
    <div class="col-md-4 container-fluid">
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
    </div>
    <div class="col-md-4 container-fluid">
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
    </div>
    <div class="col-md-4  container-fluid">
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
      <app-transacao
        [titulo]="'Pagamento Efetuado'"
        [conta]="'Sefaz'"
        [valor]="100.00"
        [data]="'22/02/2024'">
      </app-transacao>
    </div>
  </div>
</section>

