<!-- <app-navbar></app-navbar>
<img class="img-fluid" src="/assets/image/mulher cartao.jpg" alt="mulher segurando cartão e celular">
<div class="container text-center">
    <h2 class="mt-4">Nossa História</h2>
    <div class="card-group my-4">
      <div class="card">
        <img src="assets/image/Fintech-2.jpg" alt="card">
        <div class="card-body">
          <h5 class="card-title">Fundação</h5>
          <p class="card-text"> 
            Em 2024, um grupo de amigos com experiência em tecnologia  e finanças fundam a Coinnecta com a missão de tornar as criptomoedas mais acessíveis e seguras.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Criptomoedas ao alcance de todos.</small>
        </div>
      </div>
  
      <div class="card">
        <img src="assets/image/criptomoedas_nota.jpg" alt="card">
        <div class="card-body">
          <h5 class="card-title"> Missão</h5>
          <p class="card-text">Oferecer uma plataforma fácil de usar e confiável para que as pessoas possam comprar, vender e investir em criptomoedas, mas também possibilita a quem não usa criptomoedas ou cartão pré-pago utilizar boleto para utlizar os serviços da Coinnecta.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Mais inclusão.</small>
        </div>
      </div>
  
      <div class="card">
        <img src="assets/image/investimento.jpg" alt="card">
        <div class="card-body">
          <h5 class="card-title">Educação financeira</h5>
          <p class="card-text">Oferecemos cursos, artigos e outros materiais educativos para ajudar os usuários a entenderem melhor o mundo das criptomoedas e investimentos.
            Fornecemos dicas e estratégias para investir com segurança e rentabilidade.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Educação Financeira para Todos.</small>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer> -->

  <app-navbar></app-navbar>

<div class="container text-center">
    <h2 class="mt-4">Conheça a Coinnecta</h2>

    <div class="card-group my-4">
        <div class="card">
            <img src="../../../assets/image/Fintech-2.jpg" alt="Imagem representativa da Coinnecta">
            <div class="card-body">
                <h5 class="card-title">Nossa Fundação</h5>
                <p class="card-text">Em 2024, um grupo de amigos com experiência em tecnologia e finanças fundou a Coinnecta com a missão de tornar as criptomoedas mais acessíveis e seguras.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Criptomoedas ao alcance de todos.</small>
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/image/criptomoedas_nota.jpg" alt="Imagem representativa da plataforma Coinnecta">
            <div class="card-body">
                <h5 class="card-title">Nossa Missão</h5>
                <p class="card-text">Oferecer uma plataforma fácil de usar e confiável para que as pessoas possam comprar, vender e investir em criptomoedas. Também possibilitamos o uso de boletos para quem não usa criptomoedas ou cartão pré-pago.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Mais inclusão.</small>
            </div>
        </div>

        <div class="card">
            <img src="../../../assets/image/investimento.jpg" alt="Imagem representativa da educação financeira oferecida pela Coinnecta">
            <div class="card-body">
                <h5 class="card-title">Educação Financeira</h5>
                <p class="card-text">Oferecemos cursos, artigos e outros materiais educativos para ajudar os usuários a entenderem melhor o mundo das criptomoedas e investimentos. Fornecemos dicas e estratégias para investir com segurança e rentabilidade.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Educação Financeira para Todos.</small>
            </div>
        </div>
    </div>

    <div class="position-relative mt-4">
      <img class="img-fluid" src="../../../assets/image/mulher cartao.jpg" alt="Mulher segurando cartão e celular">
      <div class="image-overlay">
          <p class="overlay-text">Descubra a Coinnecta - Sua parceira confiável em pagamentos e investimentos. Faça parte da revolução financeira conosco!</p>
      </div>
  </div>
</div>

<app-footer></app-footer>
