.backgroud-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #012B3F;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #f5f5f5;
    /* Cinza claro */
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 15px;
}

.login-container-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

.logo:hover {
    cursor: pointer;
}

/* Estilo para o título */
.login-title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #007bff;
    /* Azul */
    margin-bottom: 20px;
}

/* Estilo para a descrição */
.login-info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    /* Cinza escuro */
}

/* Estilo para os cartões */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #0000000d;
    border-radius: 10px;
    margin: 15px;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-text {
    color: rgb(0, 123, 255, 0.8);
    font-size: 18px;
}

.card-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media only screen and (max-width: 1155px) {
    .card {
        width: 50px;
        height: 50px;

        .card-text {
            font-size: 10px;
        }

        .card-image {
            width: 15px;
            height: 15px;
        }
    }

    .login-container {
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Estilo para o formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .form-inputs {
        padding: 0px;
    }
}

.group-input {
    padding-top: 15px;

    .text-info {
        font-weight: bold;
        font-size: 16px;
        color: #333 !important;
        /* Cinza escuro */
    }


    .input-form {
        padding: 10px 15px;
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    .error-input {
        font-size: 10px;
        color: red;
    }
}

.login-button,
.criarconta-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 16px;
}

.criarconta-button:hover {
    background-color: #000ece !important;
    /* Azul mais escuro */
}

.disabled {
    opacity: 0.7;
}

.login-button:hover:not(.disabled) {
    background-color: #000ece;
    /* Azul mais escuro */
}

/* Adicione estilos para os botões de escolha de senha */
/* Adicione estilos para os botões de escolha de senha */
.text-criar-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .tecla {
        /* Ajuste a largura conforme necessário */
        width: 80px;
        height: 40px; /* Mantenha a altura conforme necessário */
        margin: 5px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .tecla:hover {
        background-color: #000ece; /* Azul mais escuro */
    }

    img {
        width: 20px; /* Ajuste o tamanho conforme necessário */
        height: 20px; /* Ajuste o tamanho conforme necessário */
    }
}

/* Centralize o botão de formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; /* Adicione margem superior conforme necessário */
}
