.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,.btn-close:focus{
  box-shadow: none;
  outline: none;
}


.nav-link{
  transition: .5s;

}
.nav-link:hover{
  text-decoration: underline;
  background-color: white;
  border-radius: 5px;


}

.custom{
  padding: 0.8rem 1.2rem;
}

.navbar {
  background-color: #012B3F;
  min-height: 60px
}

.navbar-brand img {
  max-height: 60px;
  width: auto;
  padding-left: 10px;
}

.fundo{
  background-color: #012B3F;
}
