<div class="modal-header">
    <h4 class="modal-title">Saque</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="fecharModal()"></button>
</div>
<div class="modal-body">
    <form (submit)="sacar()">
        <input type="text" ngModel="valorSaque" name="valorSaque" placeholder="Valor do saque" required>
        <button type="submit" class="btn btn-success">Concluir</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="fecharModal()">Cancelar</button>
</div>