<div class="modal-header">
    <h4 class="modal-title">Transferência</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="fecharModal()"></button>
</div>
<div class="modal-body">
    <form (submit)="transferir()">
        <label for="valorDeposito">Valor</label>
        <input type="text" [(ngModel)]="valorTransferencia" name="valorTransferencia"
            required><br>
        <label for="contaDestino">Id da Conta Destino</label>
        <input type="text" [(ngModel)]="contaDestinoId" name="contaDestinoId" required>
        <button type="submit" class="btn btn-success">Concluir</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="fecharModal()">Cancelar</button>
</div>