<app-navbar></app-navbar>
<div class="container bg-light text-center p-4">
  <div class="row align-items-center">
    <div class="col-md-6 text-md-right mt-3 mt-md-0">
      <h2>Solução de gestão de cobrança</h2>
      <p>Coinnecta: o gateway de pagamento para gestão de cobranças únicas e recorrentes. Combinamos tecnologia de ponta, segurança rigorosa e personalização avançada para elevar a gestão de cobranças recorrentes, contas a pagar e a receber por meio do gateway de pagamento.</p>
      <a routerLink="/cadastro" class="btn btn-warning btn-lg font-weight-bold" style="background-color: #f39c12; margin-bottom: 20px;">Abrir conta gratuita</a>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/image/design-de-renderizacao-de-criptomoeda-3d.jpg" alt="Imagem Coinnecta" class="img-fluid smaller-image">
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2 class="text-center">Soluções</h2>
  <p class="text-center">Conheça as soluções do nosso Gateway de Pagamento. Conheça cada uma das soluções do nosso gateway de pagamento e veja como elas podem transformar a gestão financeira da sua empresa.</p>

  <div class="row mt-4">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-lightning"></i> Pix para empresas</h5>
          <p class="card-text">Utilize nosso serviço de Pix para empresas e ofereça a seus clientes uma solução de pagamento rápida e segura, disponível 24 horas por dia, 7 dias por semana.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-credit-card"></i> Cartão de crédito</h5>
          <p class="card-text">Assegure pagamentos pontuais, programe as datas de cobrança e otimize seu tempo, deixando que cuidemos do processo para você.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
         <div class="card-body">
          <h5 class="card-title"><i class="bi bi-file-earmark-text"></i> Débito em conta</h5>
          <p class="card-text">Configure as datas de cobrança, tenha acesso a relatórios detalhados e monitore todas as transações através da importação de arquivos de retorno.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-file-earmark-text"></i> Boleto bancário</h5>
          <p class="card-text">Gere, registre e envie boletos de forma eficiente, e ainda confirme os pagamentos automaticamente, agilizando o seu fluxo de caixa.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-arrow-bar-right"></i> Split de pagamentos</h5>
          <p class="card-text">Divida automaticamente o valor de uma transação entre diversos destinatários, de acordo com regras previamente definidas, e simplifique sua gestão financeira.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-calculator"></i> Gestão caixa</h5>
          <p class="card-text">Monitore entradas e saídas, e tome decisões mais informadas para o crescimento do seu negócio.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-cash"></i> Contas a receber</h5>
          <p class="card-text">Mantenha o controle sobre os pagamentos pendentes, assegure a pontualidade nas
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-currency-bitcoin"></i> Criptomoedas</h5>
          <p class="card-text">Permitir que os usuários comprem e vendam diversas criptomoedas.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-credit-card-2-front"></i> Boleto</h5>
          <p class="card-text">O usuário escolhe o produto que deseja comprar e seleciona o boleto como forma de pagamento.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>

