<section class="container" *ngIf="exibirConteudo">
  <div class="container-button">
    <button type="button" class="btn btn-success" (click)="openDepositModal()">Depósito</button>
    <button type="button" class="btn btn-warning" (click)="openWithdrawModal()">Saque</button>
    <button type="button" class="btn btn-primary" (click)="openTransferModal()">Transferencia</button>
  </div>
  <body>
  
    <div class="container">
      <h2><strong>Meu Histórico</strong></h2>
      <form action="/search" method="get" class="search-form">
        <!-- <input type="search" id="search" name="q" placeholder="Pesquisar..."> -->
      </form>
  
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th>Data</th>           
            <th>Valor (R$)</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
         <!-- Iteração sobre as transações -->
        <tr *ngFor="let transacao of transacoes">
          <td>{{ transacao.dataHoraTrasacao }}</td> <!-- Supondo que o campo de data seja 'data' -->
          <td>{{ transacao.valor }}</td> <!-- Supondo que o campo de valor seja 'valor' -->
          <td>{{ transacao.tipoTransacao }}</td> <!-- Supondo que o campo de tipo seja 'tipo' -->
        </tr>
        </tbody>
      </table>
    </div>
  
  </body>
</section>