<section class="container" *ngIf="exibirConteudo">
  <div class="container-button">
    <button type="button" class="btn btn-success" (click)="openDepositModal()">Depósito</button>
    <button type="button" class="btn btn-warning" (click)="openWithdrawModal()">Saque</button>
    <button type="button" class="btn btn-primary" (click)="openTransferModal()">Transferencia</button>
  </div>
  <body>
  
    <div class="container">
      <h2><strong>Meu Histórico</strong></h2>
      <form action="/search" method="get" class="search-form">
        <input type="search" id="search" name="q" placeholder="Pesquisar...">
      </form>
  
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor (R$)</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <td>2024-03-21</td>
            <td>Depósito em dinheiro</td>
            <td>500.00</td>
            <td>Crédito</td>
          </tr>
          <tr>
            <td>2024-03-22</td>
            <td>Compra no mercado</td>
            <td>-50.00</td>
            <td>Débito</td>
          </tr>
          <tr>
            <td>2024-03-22</td>
            <td>Compra no mercado</td>
            <td>-50.00</td>
            <td>Débito</td>
          </tr>
          <tr>
            <td>2024-03-22</td>
            <td>Compra no mercado</td>
            <td>-50.00</td>
            <td>Débito</td>
          </tr>
          <tr>
            <td>2024-03-22</td>
            <td>Compra no mercado</td>
            <td>-50.00</td>
            <td>Débito</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  
  </body>
</section>